{% extends "base_survey_page.html" %}
{% include "google_charts_test.html" %}

{% comment %}

The follow are commands you can access in the html page along with the following syntax:

         Access                  Syntax
survey name                 {{survey_name}}
youtube link                {{youtube_link}}
survey description          {{description}}
survey link redirection     {{link}}
survey particpation count   {{count}}

{% endcomment %}

{% block google_chart %}
<img src="{{html|safe}}" width="306" height="306">
{% endblock %}